[submodule "libft"]
	path = libft
	url = git@github.com:SeanAndrie/libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:SeanAndrie/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:SeanAndrie/get_next_line.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:SeanAndrie/push_swap.git
[submodule "FdF"]
	path = FdF
	url = git@github.com:SeanAndrie/FdF.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:SeanAndrie/pipex.git
[submodule "philosophers"]
	path = philosophers
	url = git@github.com:SeanAndrie/philosophers.git
[submodule "bukoshell"]
	path = bukoshell
	url = git@github.com:SeanAndrie/bukoshell.git
[submodule "miniRT"]
	path = miniRT
	url = git@github.com:SeanAndrie/miniRT.git
[submodule "CPP-Modules"]
	path = CPP-Modules
	url = git@github.com:SeanAndrie/CPP-Modules.git
