[submodule "libft"]
	path = libft
	url = git@github.com:SeanAndrie/libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:SeanAndrie/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:SeanAndrie/get_next_line.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:SeanAndrie/push_swap.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:SeanAndrie/pipex.git
[submodule "FdF"]
	path = FdF
	url = git@github.com:SeanAndrie/FdF.git
